@font-face {
    font-family: inter;
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A0C1C;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.center{
    width: 100%;
    display: grid;
    place-items: center;
}

.card{
    margin-top: 100px;
    background-color: #1B1937;
    width: 80%;
    min-height: 446px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
}

.card h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
}

.w50{
    width: 50%;
}

.purple{
    color: #AB5CDB;
}

.cardinner{
    padding: 70px;
    position: relative;

}

.weight{
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.stats{
    width: auto;
    height: auto;
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
}

.stat{
    padding-right: 9%;
    float: left;
}

.o75{
    opacity: 0.75;
}

.flex p{
    padding-right: 60px;
}

#sideimage{
    background-image: url(./images/image-header-desktop.jpg);
    background-color: rgba(171, 92, 219, 1);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 8px 8px 0px;

}

.attribution{
    margin-top: 50px;
}

@media only screen and (max-width: 1078px) {

    body{
        text-align: center;
    }
    .card{
        flex-direction: column;
    }
    .cardinner{
        width: 100%;
        padding: 60px;
    }
    #sideimage{
        width: 100%;
        height: 240px;
        border-radius: 8px 8px 0px 0px;
    }
    .stats{
        flex-direction: column;
    }
    .stat {
        margin-bottom: 25px;
    }

}

@media only screen and (max-width: 600px) {

    .cardinner{
        padding-left: 40px;
        padding-right: 40px;
    }

}